#signals .signal { margin: 10px; clear:both; }
#signals .signal .photo { float:left; margin:5px; }
#signals .signal .content { margin:5px; }
#signals .signal .author { font-style: italic; margin-left:10px; }