#{extends 'main.html' /}
#{set title:'Login' /}

<div data-role="header">
    <h1>Login to Cegeka Collective</h1>
</div>
<div data-role="content">
    <form id="loginForm" method="post" style="display: none;">
        <label for="user">Email</label>
        <input type="text" name="user" id="user" />
        <label for="pwd">Password</label>
        <input type="password" name="pwd" id="pwd" />
        <input type="checkbox" name="rememberMe" id="rememberMe"/>
        <label for="rememberMe">Remember me!</label>
        <input type="submit" type="submit" value="Log in" />
    </form>
</div>
<script>
    $(function(){
        if (credentials.isLoggedIn()){
            window.location = '@{Application.signals()}';
            return;
        } else {
            $('#loginForm').show();
        }

    	$('#user').focus();
    	
        $('#loginForm').submit(function(){
        	function formDataValid() {
        		return $('#user').val() && $('#pwd').val();
        	}
        	
        	if(!formDataValid()) {
        		return false;
        	}
        	
            credentials.logIn($('#user').val(), $('#pwd').val(), $('#rememberMe').is(':checked'));
            window.location = '@{Application.signals()}';
            return false;
        });
    });
</script>