#{extends 'main.html' /}
#{set title:'Login' /}

<div data-role="header">
    <h1>Establish link to Cegeka Collective</h1>
</div>
<div data-role="content">
    #{form @Application.signals(), id:'loginForm'}
        <label for="user">User</label>
        <input type="text" name="user" id="user" value="xxxx@cegeka.be" />
        <label for="pwd">Password</label>
        <input type="password" name="pwd" id="pwd" />
        <input type="submit" type="submit" value="Log in" />
    #{/form}
</div>
<script>
    $(function(){
        $('#loginForm').submit(function(){
            window.sessionStorage.user= $('#user').val();
            window.sessionStorage.pwd= $('#pwd').val();
        })
    });
</script>