#{extends 'main.html' /}
#{set title:'Home' /}

<div id="signals"></div>

<script>
$(function() {
    function getUser(){
        return window.sessionStorage.user;
    }
    function getPwd(){
        return window.sessionStorage.pwd;
    }

    $.ajax({
		url: 'SocialText/signals?user='+encodeURIComponent(getUser())+'&pwd='+encodeURIComponent(getPwd()),
		success: function(data) {
			for(var i = 0; i < data.length; ++i) {
				var signal = data[i];
			    $.mobile.hidePageLoadingMsg();
				$("#signals").append(createSignalDiv(signal));
			}
		},
		error: function(jqXHR) {
			if(jqXHR.status == 403) {
				window.location = "/";				
			}
		}
	});
    
    $.mobile.showPageLoadingMsg();
    
    function createSignalDiv(signal) {
    	var photoDiv = '<div class="photo"><img src="SocialText/photo?user='+encodeURIComponent (getUser())+'&pwd='+encodeURIComponent(getPwd())+'&userId='+ signal.user_id +'"/></div>';
		var contentDiv = '<div class="content">'+ signal.body +'</div>';
		var authorDiv = '<div class="author">Author: ' + signal.best_full_name + '</div>';
		var timestampDiv = '<div class="timestamp">'+ configureTimestamp(signal.at) +'</div>';
		var inReplyToDiv = createInReplyToDiv(signal);
		var signalDiv = $('<div class="signal" />').append(photoDiv).append(contentDiv).append(authorDiv).append(timestampDiv).append(inReplyToDiv);
		if(isInReplyTo(signal)) {
			signalDiv.addClass('inReplyTo');
			signalDiv.click(function() {
				getSignal(signal.in_reply_to.signal_id, signalDiv);
			});
		}
		return signalDiv;
    }
    
    function getSignal(signalId, signalDiv) {
        $.ajax({
    		url: 'SocialText/signal?signalId=' + signalId + '&user='+encodeURIComponent(getUser())+'&pwd='+encodeURIComponent(getPwd()),
    		success: function(data) {
    			console.log('great success');
    			signalDiv.before(createSignalDiv(data));
    		}
        });
    };
    
	function configureTimestamp(timestamp) {
		var result = "gepost op ";
		
		result += timestamp.substring(0, 9);
		result += " om ";
		result += timestamp.substring(11,16);
		
		return result;
	}
	
	function isInReplyTo(signal) {
		return signal.in_reply_to;
	}
	
	function createInReplyToDiv(signal) {
		if(isInReplyTo(signal)) {
			return '<div>This is a reply</div>';
		}
	}
})

</script>
