#{extends 'applicationTemplate.html' /}
#{set title:'Home' /}

<div id="signals"></div>

<script type="text/javascript">
$(function() {
    $.ajax({
		url: 'SocialText/signals?'+credentials.urlSafeUserPassword(),
		success: function(data) {
			for(var i = 0; i < data.length; ++i) {
				var signal = data[i];
			    $.mobile.hidePageLoadingMsg();
				
				// Make conversation div
				var conversationDiv = $('<div class="conversation" />').append(createSignalDiv(signal));

				$("#signals").append(conversationDiv);
			}
		},
		error: function(jqXHR) {
			if(jqXHR.status == 403) {
				window.location = "/";	
			}
		}
	});
    
    $.mobile.showPageLoadingMsg();
    
    function createSignalDiv(signal) {
    	
    	// Make Photo div
		var photoDiv = '<div class="photo"><img src="SocialText/photo?' + credentials.urlSafeUserPassword() + '&userId='+ signal.user_id +'"/></div>';
		
		// Make content - author - timestamp divs
		var contentDiv = '<div class="content">'+ signal.body +'</div>';
		var authorDiv = '<div class="author">Author: ' + signal.best_full_name + '</div>';
		var timestampDiv = '<div class="timestamp">'+ configureTimestamp(signal.at) +'</div>';
		
		// Make data div
		var dataDiv = $('<div class="data" />').append(contentDiv).append(authorDiv).append(timestampDiv);
		
		// Make signal div
		var signalDiv = $('<div class="signal" />').append(photoDiv).append(dataDiv).append('<div class="buffer"></div>');
		
		if(isInReplyTo(signal)) {
			signalDiv.addClass('reply');
			signalDiv.click(function() {
				getSignal(signal.in_reply_to.signal_id, signalDiv);
			});
		}
		
		return signalDiv;
    }
    
    function getSignal(signalId, signalDiv) {
        $.ajax({
    		url: 'SocialText/signal?signalId=' + signalId + '&' + credentials.encodedUserPassword(),
    		success: function(data) {
    			signalDiv.before(createSignalDiv(data));
    		}
        });
        
        $.ajax({
    		url: 'SocialText/replies?signalId=' + signalId + '&' + credentials.encodedUserPassword(),
    		success: function(data) {
    			for(var i = data.length-1; i >= 0; --i) {
    				var signal = data[i];
    			    $.mobile.hidePageLoadingMsg();
    			    signalDiv.before(createSignalDiv(signal));
    			}
    		}
        });
    };
    
	function configureTimestamp(timestamp) {
		var result = "gepost op ";
		
		result += timestamp.substring(0, 9);
		result += " om ";
		result += timestamp.substring(11,16);
		
		return result;
	}
	
	function isInReplyTo(signal) {
		return signal.in_reply_to;
	}
})

</script>
